In [10]:
import pandas as pd
import numpy as np

dict = {
    "I" : [100, 90, np.nan, 95],
    "II" : [34, 43, 55, np.nan],
    "III" : [np.nan, 23, 32, 44]
}

df = pd.DataFrame(dict)
print(df)

df = df.fillna(df.mean())
print(df)

       I    II   III
0  100.0  34.0   NaN
1   90.0  43.0  23.0
2    NaN  55.0  32.0
3   95.0   NaN  44.0
       I    II   III
0  100.0  34.0  33.0
1   90.0  43.0  23.0
2   95.0  55.0  32.0
3   95.0  44.0  44.0

In [11]:
df = pd.DataFrame(dict)
print(df)

df = df.interpolate()    # mengisi nilai data yang hilang dengan menghitung nilai diantara nilai kedua yang ada dianataranya
                        # dan biasanya digunakan untuk menhitung nilai suhu, harga, sensor, waktu dan lainlainnya.

print(df)

       I    II   III
0  100.0  34.0   NaN
1   90.0  43.0  23.0
2    NaN  55.0  32.0
3   95.0   NaN  44.0
       I    II   III
0  100.0  34.0   NaN
1   90.0  43.0  23.0
2   92.5  55.0  32.0
3   95.0  55.0  44.0

In [12]:
# menghapus missing Values dengan menggunakan dropna()
# function yang digunakan untuk menhapus baris yang memiliki setidaknya 1 buah values null / nan adalah dropna()


import pandas as pd
import numpy as np

dict = {

    "I" : [100, 90, np.nan, 95],
    "II" : [34, 43, 55, np.nan],
    "III" : [np.nan, 23, 32, 44]
}

df = pd.DataFrame(dict)
print(df)

       I    II   III
0  100.0  34.0   NaN
1   90.0  43.0  23.0
2    NaN  55.0  32.0
3   95.0   NaN  44.0

In [13]:
df.dropna()

      I    II   III
1  90.0  43.0  23.0