In [211]:
import pandas as pd

data = {
    "populasi" : [20,30,43,22,33],
    "GDP" : [1000, 2000, 3400, 3200, 5000],
    "continent" : ["america", "europa", "europa", "asia", "america"]
}

df = pd.DataFrame(data, index = ["canada", "france", "germany", "japan", "united states"])
print(df)

               populasi   GDP continent
canada               20  1000   america
france               30  2000    europa
germany              43  3400    europa
japan                22  3200      asia
united states        33  5000   america

In [212]:
print(df.loc[df["populasi"] > 29])

               populasi   GDP continent
france               30  2000    europa
germany              43  3400    europa
united states        33  5000   america

In [213]:
print(df.loc[df["populasi"] > 29, "populasi": "GDP"])   # baris dan kolom

               populasi   GDP
france               30  2000
germany              43  3400
united states        33  5000

In [214]:
# menghapus data frame

print(df)
print(df.drop("france")) # hanya view

               populasi   GDP continent
canada               20  1000   america
france               30  2000    europa
germany              43  3400    europa
japan                22  3200      asia
united states        33  5000   america
               populasi   GDP continent
canada               20  1000   america
germany              43  3400    europa
japan                22  3200      asia
united states        33  5000   america

In [215]:
df = df.drop("france")  # tidak view
print(df)

               populasi   GDP continent
canada               20  1000   america
germany              43  3400    europa
japan                22  3200      asia
united states        33  5000   america

In [216]:
print(df.drop(["canada", "germany"])) # hanya view

               populasi   GDP continent
japan                22  3200      asia
united states        33  5000   america

In [217]:
print(df.drop(columns = ["populasi"])) # hanya view
print(df.drop(["populasi", "GDP"], axis = 1)) # hanya view

                GDP continent
canada         1000   america
germany        3400    europa
japan          3200      asia
united states  5000   america
              continent
canada          america
germany          europa
japan              asia
united states   america

In [218]:
#  broadcasting (operasi setiap kolom secara bersamaan )


baru = df[["populasi", "GDP"]] / 80
print(baru)

               populasi   GDP
canada           0.2500  12.5
germany          0.5375  42.5
japan            0.2750  40.0
united states    0.4125  62.5

In [219]:
# edit dataframe

data2 = pd.Series ([10, 20, 30], index = ["france", "germany", "italy"])
df["baru"] = data2
print(df)

               populasi   GDP continent  baru
canada               20  1000   america   NaN
germany              43  3400    europa  20.0
japan                22  3200      asia   NaN
united states        33  5000   america   NaN

In [220]:
df["total"] = df["populasi"] * df["GDP"]
print(df)

               populasi   GDP continent  baru   total
canada               20  1000   america   NaN   20000
germany              43  3400    europa  20.0  146200
japan                22  3200      asia   NaN   70400
united states        33  5000   america   NaN  165000

In [221]:
# mengganti nama kolom

df = df.rename(columns = {"baru" : "populasi baru", "total" : "penduduk"})
print(df)

               populasi   GDP continent  populasi baru  penduduk
canada               20  1000   america            NaN     20000
germany              43  3400    europa           20.0    146200
japan                22  3200      asia            NaN     70400
united states        33  5000   america            NaN    165000

In [222]:
df["bahasa"] = "english"
print(df)

               populasi   GDP continent  populasi baru  penduduk   bahasa
canada               20  1000   america            NaN     20000  english
germany              43  3400    europa           20.0    146200  english
japan                22  3200      asia            NaN     70400  english
united states        33  5000   america            NaN    165000  english

In [223]:
df["test2"] = [10, 13, 34, 21]
print(df)

               populasi   GDP continent  populasi baru  penduduk   bahasa  \
canada               20  1000   america            NaN     20000  english
germany              43  3400    europa           20.0    146200  english
japan                22  3200      asia            NaN     70400  english
united states        33  5000   america            NaN    165000  english

               test2
canada            10
germany           13
japan             34
united states     21

In [224]:
#  mengganti nama kolom

df = df.rename(columns = {"continent" : "negara", "total" : "penduduk"},
               index = {"canada" : "kalimantan", "japan" : "indonesia"})

print(df)

               populasi   GDP   negara  populasi baru  penduduk   bahasa  \
kalimantan           20  1000  america            NaN     20000  english
germany              43  3400   europa           20.0    146200  english
indonesia            22  3200     asia            NaN     70400  english
united states        33  5000  america            NaN    165000  english

               test2
kalimantan        10
germany           13
indonesia         34
united states     21

In [225]:
data = {
    "Athlete" : ["michael peps", "michael peps", "michael peps", "nathalie coughlin", " aleksey nemov"],
    "age" : ["23", "19", "27", "25", "24"],
    "country" : ["united states", "canada", "united states", "norway", "china"],
    "year" : ["2008", "2004", "2012", "2008", "2000"],
    "gold medals" : ["8", "6", "4", "1", "2"]
}

df = pd.DataFrame(data)
print(df)

             Athlete age        country  year gold medals
0       michael peps  23  united states  2008           8
1       michael peps  19         canada  2004           6
2       michael peps  27  united states  2012           4
3  nathalie coughlin  25         norway  2008           1
4      aleksey nemov  24          china  2000           2

In [226]:
print(df.loc[df["country"] == "united states", "country"])

0    united states
2    united states
Name: country, dtype: object

In [227]:
print(df.loc[df["year"] == "2008", "Athlete"])

0         michael peps
3    nathalie coughlin
Name: Athlete, dtype: object

In [228]:
print(df.loc[(df["age"] >= "25") & (df["country"] == "norway")])

             Athlete age country  year gold medals
3  nathalie coughlin  25  norway  2008           1

In [229]:
df = df.drop(3)
print(df)

          Athlete age        country  year gold medals
0    michael peps  23  united states  2008           8
1    michael peps  19         canada  2004           6
2    michael peps  27  united states  2012           4
4   aleksey nemov  24          china  2000           2

In [230]:
print(df)

          Athlete age        country  year gold medals
0    michael peps  23  united states  2008           8
1    michael peps  19         canada  2004           6
2    michael peps  27  united states  2012           4
4   aleksey nemov  24          china  2000           2

In [231]:
df["silver"] = [0, 0, 2, 1]
print(df)

          Athlete age        country  year gold medals  silver
0    michael peps  23  united states  2008           8       0
1    michael peps  19         canada  2004           6       0
2    michael peps  27  united states  2012           4       2
4   aleksey nemov  24          china  2000           2       1

In [232]:
df["bronze"] = [0, 0, 1, 0]
print(df)

          Athlete age        country  year gold medals  silver  bronze
0    michael peps  23  united states  2008           8       0       0
1    michael peps  19         canada  2004           6       0       0
2    michael peps  27  united states  2012           4       2       1
4   aleksey nemov  24          china  2000           2       1       0

In [233]:
data = pd.read_csv("/content/drive/MyDrive/bootcamp data analyst/tangsel_covid19-1.csv")
print(data)

   Unnamed: 0  ODP  PDP  POSITIF  SEMBUH  MENINGGAL
0   3/26/2020  204   89       17       0          4
1   3/27/2020  207   99       17       0          4
2   3/29/2020  256  119       28       0          4
3   3/30/2020  262  123       31       0          6
4   3/31/2020  308  134       34       2          6
5    4/1/2020  336  139       38       2          6
6    4/2/2020  371  156       40       2         10
7    4/5/2020  416  170       42       2         10
8    4/6/2020  450  184       43       2         11
9    4/8/2020  525  196       44       2         13
10  4/11/2020  600  230       47       2         15
11  4/12/2020  606  231       49       2         16
12  4/13/2020  630  239       50       3         16
13  4/14/2020  629  245       44       9         16

In [234]:
data = data.rename(columns = {"Unnamed: 0" : "tanggal"})
print(data)

      tanggal  ODP  PDP  POSITIF  SEMBUH  MENINGGAL
0   3/26/2020  204   89       17       0          4
1   3/27/2020  207   99       17       0          4
2   3/29/2020  256  119       28       0          4
3   3/30/2020  262  123       31       0          6
4   3/31/2020  308  134       34       2          6
5    4/1/2020  336  139       38       2          6
6    4/2/2020  371  156       40       2         10
7    4/5/2020  416  170       42       2         10
8    4/6/2020  450  184       43       2         11
9    4/8/2020  525  196       44       2         13
10  4/11/2020  600  230       47       2         15
11  4/12/2020  606  231       49       2         16
12  4/13/2020  630  239       50       3         16
13  4/14/2020  629  245       44       9         16

In [235]:
data.shape # mencari jumlah banyak kolom dan baris

(14, 6)

In [236]:
data.info()   # mencari tipe data yang ada pada data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tanggal    14 non-null     object
 1   ODP        14 non-null     int64
 2   PDP        14 non-null     int64
 3   POSITIF    14 non-null     int64
 4   SEMBUH     14 non-null     int64
 5   MENINGGAL  14 non-null     int64
dtypes: int64(5), object(1)
memory usage: 804.0+ bytes

In [237]:
print(data.head(5)) # mencari 5 baris teratas

     tanggal  ODP  PDP  POSITIF  SEMBUH  MENINGGAL
0  3/26/2020  204   89       17       0          4
1  3/27/2020  207   99       17       0          4
2  3/29/2020  256  119       28       0          4
3  3/30/2020  262  123       31       0          6
4  3/31/2020  308  134       34       2          6

In [238]:
print(data.tail(5)) # mencari 5 baris terbawah

      tanggal  ODP  PDP  POSITIF  SEMBUH  MENINGGAL
9    4/8/2020  525  196       44       2         13
10  4/11/2020  600  230       47       2         15
11  4/12/2020  606  231       49       2         16
12  4/13/2020  630  239       50       3         16
13  4/14/2020  629  245       44       9         16

In [239]:
data = pd.read_csv("/content/drive/MyDrive/bootcamp data analyst/package_tourism.csv")
print(data)

    Package      City                   Place_Tourism1  \
0         1   Jakarta                Pasar Tanah Abang
1         2   Jakarta                Pasar Tanah Abang
2         3   Jakarta            Perpustakaan Nasional
3         4   Jakarta                     Pulau Tidung
4         5   Jakarta            Museum Satria Mandala
..      ...       ...                              ...
95       96  Surabaya      Ekowisata Mangrove Wonorejo
96       97  Surabaya                Ciputra Waterpark
97       98  Surabaya    Museum Kesehatan Dr. Adhyatma
98       99  Surabaya  Taman Ekspresi Dan Perpustakaan
99      100  Surabaya              Taman Buah Surabaya

              Place_Tourism2                  Place_Tourism3  \
0               Taman Ayodya                  Museum Tekstil
1         Pasar Taman Puring            Pasar Petak Sembilan
2                      Monas                 Masjid Istiqlal
3             Pulau Bidadari                      Pulau Pari
4              Museum Wayang           Museum Bahari Jakarta
..                       ...                             ...
95     Taman Harmoni Keputih             Taman Kunang-Kunang
96             Kenjeran Park         Kebun Binatang Surabaya
97  Patung Buddha Empat Rupa            Taman Hiburan Rakyat
98   Museum De Javasche Bank  Surabaya Museum (Gedung Siola)
99       Hutan Bambu Keputih                Taman Barunawati

                                       Place_Tourism4  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                       Pulau Pramuka
4   Museum Macan (Modern and Contemporary Art in N...
..                                                ...
95                    Taman Ekspresi Dan Perpustakaan
96                        Food Junction Grand Pakuwon
97                                      Taman Bungkul
98                                Museum Mpu Tantular
99                               Kebun Bibit Wonorejo

                      Place_Tourism5
0                                NaN
1                                NaN
2                                NaN
3                      Pulau Pelangi
4                                NaN
..                               ...
95           Museum De Javasche Bank
96          | Atlantis Land Surabaya
97      Taman Flora Bratang Surabaya
98  Taman Air Mancur Menari Kenjeran
99                       Taman Mundu

[100 rows x 7 columns]

In [240]:
data = data.rename(columns = {"Package" : "paket",
                              "City" : "kota",
                              "Place_Tourism1" : "Destinasi 1",
                              "Place_Tourism2" : "Destinasi 2",
                              "Place_Tourism3" : "Destinasi 3",
                              "Place_Tourism4" : "Destinasi 4",
                              "Place_Tourism5" : "Destinasi 5"
                              })
print(data)

    paket      kota                      Destinasi 1  \
0       1   Jakarta                Pasar Tanah Abang
1       2   Jakarta                Pasar Tanah Abang
2       3   Jakarta            Perpustakaan Nasional
3       4   Jakarta                     Pulau Tidung
4       5   Jakarta            Museum Satria Mandala
..    ...       ...                              ...
95     96  Surabaya      Ekowisata Mangrove Wonorejo
96     97  Surabaya                Ciputra Waterpark
97     98  Surabaya    Museum Kesehatan Dr. Adhyatma
98     99  Surabaya  Taman Ekspresi Dan Perpustakaan
99    100  Surabaya              Taman Buah Surabaya

                 Destinasi 2                     Destinasi 3  \
0               Taman Ayodya                  Museum Tekstil
1         Pasar Taman Puring            Pasar Petak Sembilan
2                      Monas                 Masjid Istiqlal
3             Pulau Bidadari                      Pulau Pari
4              Museum Wayang           Museum Bahari Jakarta
..                       ...                             ...
95     Taman Harmoni Keputih             Taman Kunang-Kunang
96             Kenjeran Park         Kebun Binatang Surabaya
97  Patung Buddha Empat Rupa            Taman Hiburan Rakyat
98   Museum De Javasche Bank  Surabaya Museum (Gedung Siola)
99       Hutan Bambu Keputih                Taman Barunawati

                                          Destinasi 4  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                       Pulau Pramuka
4   Museum Macan (Modern and Contemporary Art in N...
..                                                ...
95                    Taman Ekspresi Dan Perpustakaan
96                        Food Junction Grand Pakuwon
97                                      Taman Bungkul
98                                Museum Mpu Tantular
99                               Kebun Bibit Wonorejo

                         Destinasi 5
0                                NaN
1                                NaN
2                                NaN
3                      Pulau Pelangi
4                                NaN
..                               ...
95           Museum De Javasche Bank
96          | Atlantis Land Surabaya
97      Taman Flora Bratang Surabaya
98  Taman Air Mancur Menari Kenjeran
99                       Taman Mundu

[100 rows x 7 columns]

In [241]:
data.shape

(100, 7)

In [242]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   paket        100 non-null    int64
 1   kota         100 non-null    object
 2   Destinasi 1  100 non-null    object
 3   Destinasi 2  100 non-null    object
 4   Destinasi 3  100 non-null    object
 5   Destinasi 4  66 non-null     object
 6   Destinasi 5  39 non-null     object
dtypes: int64(1), object(6)
memory usage: 5.6+ KB

In [243]:
print(data.head(10))
print(data.tail(10))

   paket     kota                         Destinasi 1  \
0      1  Jakarta                   Pasar Tanah Abang
1      2  Jakarta                   Pasar Tanah Abang
2      3  Jakarta               Perpustakaan Nasional
3      4  Jakarta                        Pulau Tidung
4      5  Jakarta               Museum Satria Mandala
5      6  Jakarta  Waterboom PIK (Pantai Indah Kapuk)
6      7  Jakarta                  Alive Museum Ancol
7      8  Jakarta                            Kota Tua
8      9  Jakarta           Galeri Nasional Indonesia
9     10  Jakarta             Taman Impian Jaya Ancol

                   Destinasi 2            Destinasi 3  \
0                 Taman Ayodya         Museum Tekstil
1           Pasar Taman Puring   Pasar Petak Sembilan
2                        Monas        Masjid Istiqlal
3               Pulau Bidadari             Pulau Pari
4                Museum Wayang  Museum Bahari Jakarta
5  Jakarta Aquarium dan Safari      SnowBay Waterpark
6                Ocean Ecopark      SnowBay Waterpark
7        Museum Bank Indonesia                  Monas
8  Museum Seni Rupa dan Kramik  Galeri Indonesia Kaya
9                     Kota Tua  Museum Bank Indonesia

                                         Destinasi 4      Destinasi 5
0                                                NaN              NaN
1                                                NaN              NaN
2                                                NaN              NaN
3                                      Pulau Pramuka    Pulau Pelangi
4  Museum Macan (Modern and Contemporary Art in N...              NaN
5                                                NaN              NaN
6                                                NaN              NaN
7                              Perpustakaan Nasional  Masjid Istiqlal
8                                                NaN              NaN
9                                  Museum Fatahillah    Museum Wayang
    paket      kota                      Destinasi 1  \
90     91  Surabaya      Ekowisata Mangrove Wonorejo
91     92  Surabaya              Taman Kunang-Kunang
92     93  Surabaya    Museum TNI AL Loka Jala Crana
93     94  Surabaya              Taman Buah Surabaya
94     95  Surabaya    Museum TNI AL Loka Jala Crana
95     96  Surabaya      Ekowisata Mangrove Wonorejo
96     97  Surabaya                Ciputra Waterpark
97     98  Surabaya    Museum Kesehatan Dr. Adhyatma
98     99  Surabaya  Taman Ekspresi Dan Perpustakaan
99    100  Surabaya              Taman Buah Surabaya

                        Destinasi 2                            Destinasi 3  \
90            Taman Harmoni Keputih       Taman Air Mancur Menari Kenjeran
91  Taman Ekspresi Dan Perpustakaan       Taman Air Mancur Menari Kenjeran
92           Klenteng Sanggar Agung  Museum Sepuluh Nopember Kota Surabaya
93                    Taman Pelangi                    Hutan Bambu Keputih
94             Taman Hiburan Rakyat                Museum De Javasche Bank
95            Taman Harmoni Keputih                    Taman Kunang-Kunang
96                    Kenjeran Park                Kebun Binatang Surabaya
97         Patung Buddha Empat Rupa                   Taman Hiburan Rakyat
98          Museum De Javasche Bank         Surabaya Museum (Gedung Siola)
99              Hutan Bambu Keputih                       Taman Barunawati

                        Destinasi 4                       Destinasi 5
90                              NaN                               NaN
91                              NaN                               NaN
92    Museum Kesehatan Dr. Adhyatma              Taman Hiburan Rakyat
93                 Taman Barunawati              Kebun Bibit Wonorejo
94              Museum Mpu Tantular                               NaN
95  Taman Ekspresi Dan Perpustakaan           Museum De Javasche Bank
96      Food Junction Grand Pakuwon          | Atlantis Land Surabaya
97                    Taman Bungkul      Taman Flora Bratang Surabaya
98              Museum Mpu Tantular  Taman Air Mancur Menari Kenjeran
99             Kebun Bibit Wonorejo                       Taman Mundu

In [244]:
#  basic statistic

data = pd.read_csv("/content/drive/MyDrive/bootcamp data analyst/penyakit_jantung.csv")
print(data)

     age     sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63  female   3       145   233    1        0      150      0      2.3
1     37  female   2       130   250    0        1      187      0      3.5
2     41    male   1       130   204    0        0      172      0      1.4
3     56  female   1       120   236    0        1      178      0      0.8
4     57    male   0       120   354    0        1      163      1      0.6
..   ...     ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    male   0       140   241    0        1      123      1      0.2
299   45  female   3       110   264    0        1      132      0      1.2
300   68  female   0       144   193    1        1      141      0      3.4
301   57  female   0       130   131    0        1      115      1      1.2
302   57    male   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [245]:
!pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (1.16.3)
Requirement already satisfied: numpy<2.6,>=1.25.2 in /usr/local/lib/python3.12/dist-packages (from scipy) (2.0.2)

In [246]:
import numpy as np
from scipy import stats

thalach = data["thalach"]
print(thalach)

0      150
1      187
2      172
3      178
4      163
      ...
298    123
299    132
300    141
301    115
302    174
Name: thalach, Length: 303, dtype: int64

In [247]:
# mencari rata rata

mean = np.mean(thalach)
print(mean)

print(thalach.mean())

149.64686468646866
149.64686468646866

In [248]:
# mencari nilai tengah (median)

median = np.median(thalach)
print(median)

153.0

In [249]:
print(thalach.median())

153.0

In [250]:
# mencari nilai terbanyak yang muncul (modus / mode)

mode = stats.mode(thalach)
print(mode)
print(mode[0])
print(mode[1])

ModeResult(mode=np.int64(162), count=np.int64(11))
162
11

In [251]:
# varian (mengukur sejauh mana data tersebar dari rata rata )

variance = np.var(thalach)
print(variance)

522.9148994107329

In [252]:
print(thalach.var())

524.6464057001724

In [253]:
# standar deviasi ( mengukur persebaran data )

std = np.std(thalach)
print(std)
print(thalach.mean())

22.867332581889233
149.64686468646866

In [254]:
# batas atas : 149 + 22 = 171
# rata rata : 100
# batas bawah : 149 - 22 = 127
# nilai yang diluar dari batas / bawah = (outlier)

In [255]:
# skweness (melihat dominan data)
# jika hasil plus = data dominan kurang dari rata rata
# jika hasil minus = data dominan lebih besar dari rata rata

skewness = stats.skew(thalach)
print(skewness)

-0.5347455419075503

In [256]:
from numpy._core.defchararray import lower
# kuartil (data terbagi menjadi beberapa bagian)
#tujuannya untuk mencari outlier
# perbedaan dari std, kuartil menggunakan nilai tengah

data = thalach.sort_values()

q1 = np.percentile(data, 25)
q2 = np.percentile(data, 50)
q3 = np.percentile(data, 75)

iqr = q3 - q1

lower = q1 - (1.5 * iqr)
upper = q3 + (1.5 * iqr)

outlier = thalach.loc[(thalach > upper) | (thalach < lower)]
thalach = thalach.drop(outlier.index)
print(thalach)

0      150
1      187
2      172
3      178
4      163
      ...
298    123
299    132
300    141
301    115
302    174
Name: thalach, Length: 302, dtype: int64

In [257]:
lalulintas = pd.read_csv("/content/drive/MyDrive/bootcamp data analyst/Data-Penindakan-Pelanggaran-Lalu-Lintas.csv")
print(lalulintas)

       bulan                   wilayah  bap_tilang  stop_operasi  bap_polisi  \
0    Januari             Bidang Dalops          44           139           0
1    Januari    Sudinhub Jakarta Pusat          47             2          52
2    Januari    Sudinhub Jakarta Utara         166            27           0
3    Januari  Sudinhub Jakarta Selatan          44             1           0
4    Januari    Sudinhub Jakarta Barat         184            70           0
5    Januari    Sudinhub Jakarta Timur         191           141           0
6   Februari             Bidang Dalops          37           143           0
7   Februari    Sudinhub Jakarta Pusat          48             7          42
8   Februari    Sudinhub Jakarta Utara         251            27          31
9   Februari  Sudinhub Jakarta Selatan         129            12           0
10  Februari    Sudinhub Jakarta Barat         229            60           0
11  Februari    Sudinhub Jakarta Timur         276           146           0
12     Maret             Bidang Dalops          90           203           0
13     Maret    Sudinhub Jakarta Pusat          68            10           0
14     Maret    Sudinhub Jakarta Utara         323            37           0
15     Maret  Sudinhub Jakarta Selatan         479            51           0
16     Maret    Sudinhub Jakarta Barat         270           101           0
17     Maret    Sudinhub Jakarta Timur         253           129           0
18     April             Bidang Dalops          78           108           0
19     April    Sudinhub Jakarta Pusat          93            21           0
20     April    Sudinhub Jakarta Utara         293            22          12
21     April  Sudinhub Jakarta Selatan         454            42           0
22     April    Sudinhub Jakarta Barat         233            97           0
23     April    Sudinhub Jakarta Timur         274           113           0
24       Mei             Bidang Dalops          47            88           0
25       Mei    Sudinhub Jakarta Pusat          30            10           0
26       Mei    Sudinhub Jakarta Utara         174            10          16
27       Mei  Sudinhub Jakarta Selatan         203            29           2
28       Mei    Sudinhub Jakarta Barat         156            82           0
29       Mei    Sudinhub Jakarta Timur         162           107           0
30      Juni             Bidang Dalops         113           129           0
31      Juni    Sudinhub Jakarta Pusat          24             9           0
32      Juni    Sudinhub Jakarta Utara         365            29          39
33      Juni  Sudinhub Jakarta Selatan         390            22          16
34      Juni    Sudinhub Jakarta Barat         176            81           0
35      Juni    Sudinhub Jakarta Timur         217           116           0
36      Juli             Bidang Dalops          72            80           0
37      Juli    Sudinhub Jakarta Pusat          12             6           0
38      Juli    Sudinhub Jakarta Utara         224            20          24
39      Juli  Sudinhub Jakarta Selatan          95             2           8
40      Juli    Sudinhub Jakarta Barat          36            32           0
41      Juli    Sudinhub Jakarta Timur         104            72           0

    stop_operasi_polisi  penderekan  ocp_roda_dua  ocp_roda_empat  \
0                     0          73             0               0
1                     0         184           237              15
2                     0         174             0               0
3                     0          61            42              75
4                     0         202            10               5
5                     0         137             0               0
6                     0          95             2               1
7                     0         175           396              21
8                     0         255             3               0
9                     0         155           446             110
10                    0         245            12               4
11                    0         299             0               0
12                    0         150            18               2
13                    0         146           216               1
14                    0         285             0               0
15                    0         325           221              87
16                    0         318            20              11
17                    0         291            22               0
18                    0         139             0               2
19                    0         166            99               5
20                    0         165             0               0
21                    0         261           423              64
22                    0         252             0               1
23                    0         264             0               0
24                    0          57             0               0
25                    0          46           447              72
26                    0         149             0               0
27                    0         169           272              28
28                    0         107             0               0
29                    0         157             0               0
30                    0         119             7               2
31                    0          90           806               8
32                    0         206             0               0
33                    0         188           277              51
34                    0         157            62               6
35                    0         203             0               0
36                    0          38             0               0
37                    0          11           146               3
38                    0          54             0               0
39                    0          25           160               6
40                    0          29             0               0
41                    0         110             0               0

    angkut_motor
0              0
1             97
2              0
3              0
4              0
5              0
6              0
7            143
8              0
9              0
10             0
11             0
12             0
13            58
14             0
15             0
16             0
17             0
18             0
19           117
20             0
21             0
22             0
23             0
24             0
25           244
26             0
27             0
28             0
29             0
30             0
31           414
32             0
33             0
34             0
35             0
36             0
37             0
38            19
39             0
40             0
41             0

In [258]:
kategori = lalulintas.loc[0:10, "bulan" : "wilayah"]
numerik = lalulintas.loc[0:10, "bap_tilang" : ]
print(kategori)
print(numerik)

       bulan                   wilayah
0    Januari             Bidang Dalops
1    Januari    Sudinhub Jakarta Pusat
2    Januari    Sudinhub Jakarta Utara
3    Januari  Sudinhub Jakarta Selatan
4    Januari    Sudinhub Jakarta Barat
5    Januari    Sudinhub Jakarta Timur
6   Februari             Bidang Dalops
7   Februari    Sudinhub Jakarta Pusat
8   Februari    Sudinhub Jakarta Utara
9   Februari  Sudinhub Jakarta Selatan
10  Februari    Sudinhub Jakarta Barat
    bap_tilang  stop_operasi  bap_polisi  stop_operasi_polisi  penderekan  \
0           44           139           0                    0          73
1           47             2          52                    0         184
2          166            27           0                    0         174
3           44             1           0                    0          61
4          184            70           0                    0         202
5          191           141           0                    0         137
6           37           143           0                    0          95
7           48             7          42                    0         175
8          251            27          31                    0         255
9          129            12           0                    0         155
10         229            60           0                    0         245

    ocp_roda_dua  ocp_roda_empat  angkut_motor
0              0               0             0
1            237              15            97
2              0               0             0
3             42              75             0
4             10               5             0
5              0               0             0
6              2               1             0
7            396              21           143
8              3               0             0
9            446             110             0
10            12               4             0

In [259]:
mean = np.mean(numerik['bap_polisi'])
print(mean)

11.363636363636363

In [260]:
median = np.median(numerik['angkut_motor'])
print(median)

0.0

In [261]:
tilang = numerik["bap_polisi"]

q1 = np.percentile(tilang, 25)
q2 = np.percentile(tilang, 50)
q3 = np.percentile(tilang, 75)

print(q1)
print(q2)
print(q3)

0.0
0.0
15.5

In [262]:
std = np.std(tilang)
print(std)

19.08961034543387

In [263]:
mean_januari = np.mean(numerik["bap_tilang"])
print(mean)

11.363636363636363

In [264]:
print(data)

272     71
243     88
297     90
262     95
233     96
      ...
62     190
125    192
103    194
248    195
72     202
Name: thalach, Length: 303, dtype: int64

In [267]:
tilang_januari = lalulintas.loc[lalulintas["bulan"] == "Januari", "bap_tilang"]
tilang_februari = lalulintas.loc[lalulintas["bulan"] == "Februari", "bap_tilang"]
tilang_maret = lalulintas.loc[lalulintas["bulan"] == "Maret", "bap_tilang"]
print("Januari : ", tilang_januari.mean())

Januari :  112.66666666666667